* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header, .footer {
    background-color: #1f2937;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav {
    width: 1024px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 1000;
}

ul {
    display: flex;
    gap: 26px;
    list-style-type: none;
}

ul, .awesome-left p {
    color: #E5E7EB;
    font-size: 18px
}

a {
    text-decoration: none;
    color: inherit;
}

.awesome-section {
    background-color: #1f2937;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 140px 0;
}

.awesome-content {
    width: 1024px;
    display: flex;
    gap: 56px;
}

.awesome-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F9FAFB;
    gap: 16px;
}

.awesome-left h1 {
    font-size: 48px;
    font-weight: 900;
}

button {
    width: 130px;
}

.img-placeholder {
    width: 522px;
    height: 237px;
    background-color: #6D747D;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAFB;
}

button {
    font-size: 18px;
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAFB;
    font-weight: 900;
}

.random-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 54px 0 122px 0;
}

.random-content {
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.random-content h1 {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

.cards {
    display: flex;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 173px;
    gap: 12px;
}

.box {
    width: 173px;
    height: 173px;
    border-radius: 16px;
    border: 5px solid #3882F6;
}

.card p{
    color: #4B5563;
}

.quote-section {
    background-color: #E5E7EB;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 138px 0;
}

.quote-content {
    width: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-content p {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
}

.quote-content .author {
    font-size: 24px;
    font-weight: 900;
    align-self: flex-end;
    margin-right: 40px;
}